#canvas {
    display: flex;
    flex-direction: column;
    -webkit-touch-callout : none;
    -webkit-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    -o-user-select: none;; user-select: none;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#side_panel {
    display: flex;
    flex-direction: column;
}

#side_panel > * {
    margin: 3px;
}

#anim_grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.anim_frame:hover {
    cursor: pointer;
    filter: grayscale();
}

#frame_code {
    margin-top: 10px;
}

#script_wrapper {
    display: flex;
    flex-direction: column;
}